<launch>

    <!--  launching waypoint gui-->
    <node name="waypoint_gui" pkg="blue_rov_waypoint_interface" type="gui_4.py" output="screen"/>
  
    <!-- launch  MOTION_CONTROLLER  -->
    <node name="waypoint_follower" pkg="blue_rov_motion_controller" type="motion_controller.py" output="screen"/>

    <!-- launch path planenrs  -->
    <node name="path_planner" pkg="blue_rov_path_plan" type="path_planner.py" output="screen"/>
    <!-- <node name="intermediate_waypoints_generator" pkg="blue_rov_path_plan" type="plan_intermediate_waypoints.py" output="screen"/> -->


    <!-- Start the simulation nodes-->
    <node name="kinematic_simulation" pkg="simulating_nodes" type="kinematic_simulator.py" output="screen" />
   

     <!-- Static transform from mad to ned -->
    <node pkg="tf" type="static_transform_publisher" name="map2ned" args="0 0 0 0 0 3.141592653589793 map NED 100"/>  
 
    <!-- Launch rviz -->s
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find blue_rov_waypoint_interface)/viz.rviz" /> -->

   
    <!-- Publish robot description -->
    <!-- <param name="blue_rov_description" command="$(find xacro)/xacro '$(find blue_rov_waypoint_interface)/bluerov_model/BlueRov2_MHL.urdf.xacro'" /> -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find blue_rov_waypoint_interface)/bluerov_model/BlueRov2_MHL.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    
     <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find blue_rov_waypoint_interface)/viz2.rviz" />

 
</launch>  


