<launch>

    <!--  launching waypoint gui-->
    <node name="waypoint_gui" pkg="blue_rov_waypoint_interface" type="gui_3.py" output="screen"/>
  
    <!-- launch  MOTION_CONTROLLER  -->
    <node name="waypoint_follower" pkg="blue_rov_motion_controller" type="motion_controller.py" output="screen"/>

    <!-- launch waypoint manager -->
    <node name="path_planner" pkg="blue_rov_path_plan" type="path_planner.py" output="screen"/>

  
   
    <!-- Start the simulation nodes-->
    <node name="get_ned_test" pkg="simulating_nodes" type="get_ned.py" output="screen" />
    <node name="get_attitude_test" pkg="simulating_nodes" type="get_attitude.py" output="screen" />
    <node name="simulator_node" pkg="simulating_nodes" type="get_pose.py" output="screen" />
    <!-- <node name="map_sim" pkg="simulating_nodes" type="map_sim.py" output="screen" /> -->
    <!-- <node name="velocity_plot" pkg="blue_rov_motion_controller" type="setpoint_plotting.py" output="screen"/> -->
    


     <!-- Static transform from mad to ned -->
    <node pkg="tf" type="static_transform_publisher" name="map2ned" args="0 0 0 0 0 3.141592653589793 map NED 100"/>  
 
    <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find blue_rov_waypoint_interface)/viz.rviz" />

   
    <!-- Publish robot description -->
    <!-- <param name="blue_rov_description" command="$(find xacro)/xacro '$(find blue_rov_waypoint_interface)/bluerov_model/dummy.urdf.xacro'" /> -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find simulating_nodes)/model/cube_bot.xacro'" />
    
</launch>  

